.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile
.dockerignore
README.md
node_modules
vendor
storage/*.key
storage/logs/*
bootstrap/cache/*
*.log
*.cache
Thumbs.db
.DS_Store
*.swp
*.swo
.idea
.vscode
